.App {
  text-align: center;
  
}

.App-logo{
  object-position: 0px 0px;
}



.App-header {
  background: linear-gradient(to right, rgb(15, 15, 194), rgb(255, 122, 144));
  color: rgb(96, 24, 163);
  text-shadow: white 0px 0 30px; ;
  text-align: center;
  height: 100%;
  background-size: cover;
}

.App-link {
  color: #61dafb;
  flex-direction: row;
}


